{% extends 'base.html.twig' %}

   
{% block body %}
    <h1>Modifier student </h1>

    <form method="post">
       {{form(f)}}
      

        <a href="{{ path('fetch') }}" class="btn btn-secondary">Back to the student list</a>

        {{ form_end(f)}}
    </form>
{% endblock %}
